@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
html {
    font-size: 43%;
    scroll-behavior: smooth;
}

@media (min-width: 992px) {
    html {
        font-size: 62.5%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 767px) {
    .number {
        display: none !important;
    }
    .about .content img {
        width: 60% !important;
        display: flex;
        margin: 0 auto 4rem auto;
    }
}

@media (max-width: 575px) {
    .container,
    .container-sm {
        max-width: 360px;
    }
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4.0rem;
    /*40px*/
    font-weight: 600;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem !important;
    /*22px*/
    font-weight: 600 !important;
    margin-bottom: 2.0rem !important;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    /*20px*/
    font-weight: 500;
    /* margin-top: 4rem !important;
    margin-bottom: 3rem !important; */
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    /*16px*/
    font-weight: 300;
    margin-bottom: 0 !important;
}

nav {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.navbar {
    padding-top: 0.8rem !important;
    padding-bottom: 0.8rem !important;
}

.navbar-brand {
    font-size: 2rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.nav-link {
    padding-left: 6.4rem !important;
    padding-right: 0 !important;
    font-size: 1.8rem !important;
}

.number {
    font-family: 'Playfair Display', serif;
    font-size: 50.0rem;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
    -webkit-text-stroke: 1px #555555;
    opacity: 0.5;
    color: #FFFFFF;
    /* transform: translate(0, -16%); */
    line-height: 12rem;
    position: relative;
    z-index: -1;
}


/* Homepage */

.home .hero {
    height: 100vh;
    margin-top: -5.6rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.home .hero .header,
.about .hero .header,
.contact .hero .header,
.work .hero .header,
.resume .hero .header {
    font-family: 'Prata', serif;
    font-size: 12.0rem;
    line-height: 13.0rem;
    position: relative;
    z-index: 1;
}

.home .details {
    /* margin-top: -16rem; */
    margin: auto;
}

.home .details .verticalLine {
    border-left: 1px solid #000000;
}

.home .details .intro {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.6rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}


/* About */

.about .hero {
    height: 100vh;
    margin-top: -5.6rem;
    display: flex;
    align-items: center;
}


/* .about .hero .header {
    font-family: 'Prata', serif;
    font-size: 12.0rem;
    line-height: 13.0rem;
    position: relative;
    z-index: 1;
} */

.about .content {
    height: 60vh;
    display: flex;
    justify-content: center;
}

.about .content img {
    width: 100%;
}

.about .content .name,
.about .content .education,
.about .content .laguage,
.about .content .skills,
.about .content .knowledge {
    margin-bottom: 4rem;
}


/* Resume */

.resume .hero {
    height: 100vh;
    margin-top: -5.6rem;
    display: flex;
    align-items: center;
}

.resume .content {
    height: 100vh;
    display: flex;
    align-items: center;
}

.resume .content .year-2019,
.resume .content .year-2020 {
    margin-top: 1.6rem;
    margin-bottom: 3.0rem;
}

.resume .content a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    /*16px*/
    font-weight: 300;
    text-decoration: none;
    color: #000000;
}

.resume .content a:hover {
    background-color: #d3d1c5;
}


/* Work */

.work .hero {
    height: 100vh;
    margin-top: -5.6rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.work .d-block {
    text-align: center;
}

.work .details {
    position: relative;
    top: -26rem;
    z-index: 1;
}

.work .name {
    font-family: 'Poppins', sans-serif;
    font-size: 4.0rem;
    /*16px*/
    font-weight: 400;
}

.work .content {
    height: 100vh;
    display: flex;
    align-items: flex-start;
}


/* .work .video,
.work .siribox {
} */

.work .content .video {
    margin-bottom: 4.0rem;
}

.work .content .video h3,
.work .content .siribox h3,
.work .content .sirilaboratories h3 {
    margin-top: 4.0rem;
    margin-bottom: 3.0rem;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.work .content a {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    /*16px*/
    font-weight: 300;
    color: #000000;
}

.work .content a:hover {
    background-color: #d3d1c5;
}

.work .content .siribox .container,
.work .content .sirilaboratories .container {
    padding: 0;
}

.work .content .siribox img,
.work .content .sirilaboratories img {
    width: 100%;
}


/* Contact */

.contact .hero {
    height: 100vh;
    margin-top: -5.6rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}


/* .contact .hero .header {
    font-family: 'Prata', serif;
    font-size: 12.0rem;
    line-height: 13.0rem;
    position: relative;
    z-index: 1;
} */

.contact .details {
    font-family: 'Poppins', sans-serif;
    font-size: 3.125rem;
    font-weight: 400;
    position: relative;
    margin-top: -28rem;
    z-index: 1;
}

.back-to-top {
    margin-top: 6.25rem;
    margin-bottom: 2.813rem;
    opacity: 0.5;
}

.back-to-top:hover {
    opacity: 1;
}